.quill.ql-error {
    .ql-toolbar {
      border: none;
    }
    .ql-container {
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
    .ql-tooltip.ql-editing {
        top: 28.5px !important;
        left: 0px !important
    }
  }

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
